<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNxe0pGdwyGF9UM72vtX2mKAgNUrXHZU0</string>
	<key>GCM_SENDER_ID</key>
	<string>799204118407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kermesseApp</string>
	<key>PROJECT_ID</key>
	<string>kermesse-esgi</string>
	<key>STORAGE_BUCKET</key>
	<string>kermesse-esgi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799204118407:ios:4ac5677456bd2d52c70d22</string>
</dict>
</plist>